[Unit]
Description=Flask App for LED Matrix Control
After=network.target

[Service]
User=root
WorkingDirectory=/root/rgb-led-test/
Environment="FLASK_APP=led_web_test.py"
ExecStart=/usr/bin/python3.9 led_web_test.py
Restart=always

[Install]
WantedBy=multi-user.target
