[Unit]
Description=Raspi RGBLED Service
After=network.target

[Service]
Type=forking
ExecStart=/root/raspi-rgb-led/start.sh
ExecStop=/bin/bash -c "pkill -f /root/raspi-rgb-led/led_web_test.py"
WorkingDirectory=/root/raspi-rgb-led
Restart=always
User=root

[Install]
WantedBy=multi-user.target
